/* stripe */
.masthead.stripe{
    padding: 50px 0px;
}
.long.stripe{
    height: 200px;
}
.short.stripe{
    height: 70px;
}
.real.long.stripe{
    height: 600px;
}

/* frame & filter */
.frame.background{
    position: fixed;
    z-index: 1;
    width: 100%;
}
.frame.filter{
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 100%;
}
.frame.curtain{
    position: relative;
    z-index: 3;
}
.frame.filter{
    transition: all 1s;
    background: black;
    opacity: 0.1;
}

/* stript and filter color */
.index.stripe .header,.index.stripe h1,.index.stripe h2,.index.stripe h3,.index.stripe h4,.index.stripe h5,.index.stripe i,.index{
    color: #C1C1ED !important;
    text-shadow: 0px 0px 20px #000
}

.des.stripe .header,.des.stripe h1,.des.stripe h2,.des.stripe h3,.des.stripe h4,.des.stripe h5,.des.stripe i{
    color: #6EFFA8 !important;
    text-shadow: 0px 0px 20px #000
}
.frame.filter.des{
    background: #398000;
    opacity: 0.5;
}

.recruit.stripe .header,.recruit.stripe h1,.recruit.stripe h2,.recruit.stripe h3,.recruit.stripe h4,.recruit.stripe h5,.recruit.stripe i,.ui.recruit.header i,.ui.recruit.header div{
    color: #E6E974 !important;
    text-shadow: 0px 0px 20px #000
}
.frame.filter.recruit{
    background: #805A00;
    opacity: 0.5;
}

.concert.stripe .header,.concert.stripe h1,.concert.stripe h2,.concert.stripe h3,.concert.stripe h4,.concert.stripe h5,.concert.stripe i,.ui.concert.header i,.ui.concert.header div{
    color: #FF80C7 !important;
    text-shadow: 0px 0px 20px #000
}
.frame.filter.concert{
    background: #420080;
    opacity: 0.5;
}

.vender.stripe .header,.vender.stripe h1,.vender.stripe h2,.vender.stripe h3,.vender.stripe h4,.vender.stripe h5,.vender.stripe i,.ui.vender.header i,.ui.vender.header div{
    color: #9EC8FF !important;
    text-shadow: 0px 0px 20px #000
}
.frame.filter.vender{
    background: #00804A;
    opacity: 0.5;
}

.footer.stripe{
    background: black;
}
.footer.stripe .header{
    color: white;
}

/* header */
@media (min-width: 800px){
    .ui.header.massive{
        font-size: 5em;
    }
}

/* misc */
.centerized{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.centerAligned{
    text-align: center !important;
}
.ui.hidable{
    opacity: 1;
    transition: opacity 1s;
}
.ui.hidable.hidden{
    opacity: 0;
}

.viewport-height{
    min-height: 100vh;
}

.bg{
    min-width: 100%;
    min-height: 100%;
}

/* segment */
.ui.homebrew.inverted.segment{
    background: black;
    color: #46f69d !important;
}

/* rwd */
@media (min-width: 700px){
    .visible.on.xs{
        display: none;
    }
}

@media (max-width: 700px){
    .visible.having.sm{
        display: none;
    }
}

@media (max-width: 700px){
    .visible.on.sm{
        display: none;
    }
}

@media (min-width: 1050px){
    .visible.on.sm{
        display: none;
    }
}

@media (max-width: 1050px){
    .visible.on.md{
        display: none;
    }
}

@media (max-width: 1050px){
    .visible.having.md{
        display: none;
    }
}

@media (min-width: 1050px){
    .visible.no.md{
        display: none;
    }
}

@media (min-width: 1400px){
    .visible.on.md{
        display: none;
    }
}

@media (max-width: 1400px){
    .visible.on.lg{
        display: none;
    }
}

@media (min-width: 1400px){
    .visible.no.lg{
        display: none;
    }
}

/* body */
body {
    margin: 0;
    background: black;
    transition: all 1s;
}
/* font */
body {
  /*font-family: 'Satisfy', cursive;*/
}

/* input */
div.recruit-input{
    width: 80%;
    margin-top: 20px;
}
div.ui.transparent.underlined.input{
    border-bottom: 2px #422B09 groove;
}
.ui.transparent.underlined.input input{
    color: white;
}
.ui.transparent.underlined.input ::-webkit-input-placeholder { /* WebKit browsers */
    color: #E6E974;
}
.ui.transparent.underlined.input :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #E6E974;
    opacity:  1;
}
.ui.transparent.underlined.input ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #E6E974;
    opacity:  1;
}
.ui.transparent.underlined.input :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #E6E974;
}

/* uploader */
#shown-has-img{
    display: none;
}
.ui.button.fluid{
    margin-bottom: 5px;
}
.ui.inverted.recruit-input.segment{
    background-color: rgba(88, 90, 0, 0.51) !important;
    color: #FFF !important;
}

/* some small fix */
.us.ui.label{
    margin-bottom: 10px;
}

/* menu */
#menuable{
    cursor:pointer;
    opacity: 1;
}
#menuable h2:hover .header,#menuable h2:hover  .content,#menuable h2:hover  i{
    color: white !important;
    text-shadow: 0px 0px 20px #FFF;
}
#menuable.menued{
    position: fixed;
    width: 100%;
    top: -75px;
    z-index: 10;
    opacity: 0.7;
}

#menuable.menued:hover{
    opacity: 1;
}
